[2016-05-24 18:52] benek opened #1 "Prueba"
Test...............

[2016-05-24 18:53] chochos commented on #1
Chido

[2016-05-24 18:55] laliux commented on #1
cool..

[2016-05-24 19:59] domix opened #2 "JVM Reactive Programming"
Mostrar como se puede hacer programación reactiva en la JVM.

Se usaria código vivo con RxJava con Java y Groovy

[2016-05-25 14:18] abadongutierrez commented on #2
con que frameworks o lenguajes?

[2016-05-26 16:11] neburnz commented on #1
Cool!.. Puede aplicar un workshop como sugirió @laliux

[2016-05-26 16:14] SergioMartinezP opened #3 "JVM & Docker"
Introducción a Docker y algunos casos de como desplegar aplicaciones Java en Docker

[2016-05-26 16:21] neburnz commented on #2
La plática podría ser teórica y unos ejemplos usando [Rx-Java](https://github.com/ReactiveX/RxJava)
Aquí encontré algunos [slides](http://www.slideshare.net/kasun04/reactive-programming-in-java-8-with-rxjava)

[2016-05-26 16:25] domix commented on #1
pueden cerrar este issue por favor?

[2016-05-26 16:55] chochos commented on #1
está bieeeeen

[2016-05-26 16:55] #1 closed

[2016-05-26 17:58] neburnz opened #4 "Vert.x Core"
Como el tema es amplio por la cantidad de extensiones, sugiero acotarlo al uso del Core.
Si existe algún experto en el tema que pueda mostrar algunos casos donde sea conveniente usar Vert.x.

[2016-05-26 18:11] rvazquezglez opened #5 "Patrones de diseño en diferentes lenguajes de la JVM"
**de qué vas a hablar?**
Un overview de patrones de diseño OO y alternativas en diferentes lenguajes:
http://slides.com/rvazquezglez/write-less-code-and-overcome-oo-with-functional-features/

**cuál es el objetivo,**
Conocer de forma general patrones de diseño y algunas alternativas en diferentes lenguajes de la JVM

**una bio corta**
Desarrollador Java at Nearsoft

[2016-05-26 18:19] xiumeteo opened #6 "Descubriendo las lambdas"
de qué vas a hablar?
Una desconstrucción de los lambdas y cómo están implementadas en Java 8, hablaré un poco de invokedynamic, bootstrap method, y el ciclo de ejecución de una lambda

cuál es el objetivo,
entender un poco más acerca de cómo están implementadas las lambdas en Java 8

una bio corta
Desarrollador Java at Nearsoft

[2016-05-26 18:22] blzb opened #7 "Spring Cloud Config"
Configuracion externalizada para ambientes distribuidos.

Explorar las caracteristicas de la libreria y formas de usarlo.

[2016-05-26 20:54] rvazquezglez commented on #6
Estaría chido ver el contexto de uso, donde ocupar lambdas? como simplificar clases anónimas a lambdas

[2016-05-26 22:11] domix commented on #2
ya actualice la descripción @abadongutierrez, te parece bien o agrego algo mas?

[2016-05-27 05:38] abadongutierrez commented on #5
Que diferentes lenguajes?

[2016-05-27 15:23] rodrigoSaladoAnaya opened #8 "Grails & Web Components(Polymer)"
### Modalidad

_Taller_
### Duración estimada

_3 hrs._
### Break

_20 minutos._
### Descripción
1. Mostrar con un ejemplo sencillo y paso a paso las bondades de usar [Web Components](https://en.wikipedia.org/wiki/Web_Components). Voy a utilizar [Polymer](https://en.wikipedia.org/wiki/Polymer_%28library%29) aprovechando que ya tenemos la versión [1.0](https://www.polymer-project.org/1.0/) y que co

[2016-05-27 16:19] AlexSnake11 commented on #8
Perfecto me apunto, en donde y cuando va hacer? será un meet up?

[2016-05-27 16:23] rodrigoSaladoAnaya commented on #8
Pues esto es solo la propuesta, aun que la redacte como si ya la fuera a dar (jo), a ver que opina la comunidad y luego ver otros factores como tiempos y espacios : ).

[2016-05-27 18:14] rvazquezglez commented on #5
Scala, Groovy, Clojure y Java, dependiendo del patrón

[2016-05-30 20:55] GloriaPG commented on #3
+ 100 💃

[2016-05-31 21:19] chochos commented on #4
O sea que estás pidiendo que alguien más dé esta plática? La idea que si abres un issue es porque **tú** quieres dar la charla que propones...

[2016-05-31 22:02] neburnz commented on #4
Ok, gracias por la aclaración. Aún no soy experto en el tema pero la noche es larga y el café barato. Lo tendré en consideración para la próxima. ;)

[2016-05-31 23:18] chochos commented on #4
Pero entonces, no pensabas dar esta charla tú? para cerrar el issue en ese caso...

[2016-06-01 00:04] neburnz commented on #4
Creo que es mejor cerrar el issue en lo que domino el tema, y mejor sugerir algún otro.

[2016-06-01 14:18] #4 closed

[2016-06-16 17:50] xiumeteo commented on #6
@rvazquezglez estoy de acuerdo pero creo que por el tiempo el tema que mencionas puede dar para una plática en si misma :)

[2016-07-18 01:33] josdem opened #9 "Documenta tu API con Swagger"
**¿De qué vas a hablar?**
- ¿Qué es Swagger?
- Las ventajas de documentar un API con Swagger
- Configuración de Swagger JavaConf en proyecto Spring
- Configuración de Swagger XML en proyecto Spring
- Configuración de Swagger proyecto Spring Boot

**¿Cuál es el objetivo?**
Conocer como agregar documentación basada en Swagger para API RestFul

**Una bio corta**
Desarrollador Techminds

[2016-07-19 18:30] chochos opened #10 "Microservicios en Ceylon"
La versión 1.2.3 de Ceylon incluirá un nuevo comando `fat-jar`, el cual facilita mucho el deployment de aplicaciones tipo microservicio (y aplicaciones Java en general).

El objetivo de esta charla/demo es desarrollar rápidamente un microservicio muy simple totalmente en Ceylon, usando únicamente el SDK, y al final crear un jar simple para poder arrancarlo sin necesidad de tener Ceylon instalado e

[2016-07-27 00:25] SergioMartinezP opened #11 "Colección de Basura en el JVM"
La idea es entender lo que ocurre en la memoria al estar ejecutando nuestros programas
- Problema del manejo de memoria en el JVM
- Estrategia en HotSpot para el manejo de memoria
- CMS y G1
- SoftReference y WeakReference

[2016-07-27 00:31] SergioMartinezP opened #12 "Introducción al Java VisualVM"
Mostrar algunos ejemplos de como utilizar Java Visual VM para ayudar a encontrar problemas en aplicaciones corriendo en el JVM
- ¿Qué es Java Visual VM?
- ¿Cómo me conecto a un JVM?
- Plugin para observar el comportamiento del GC
- Ejemplo de revisión de memoria
- Ejemplo de revisión de código

[2016-07-28 02:32] code-bomb opened #13 "Si ya funciona, no le muevas!!!"
La intención es dar una breve introducción a la plataforma SonarQube para mejorar nuestro código.

[2016-07-28 14:39] chochos commented on #5
A la mera hora ya no hubo nada de Clojure?

Buena charla en general.

[2016-07-28 14:39] #5 closed

[2016-07-28 14:40] chochos commented on #6
Buena charla, aunque algo densa la última parte de hacer tu propio Bootstrap. Más que si se puede o no se puede, a veces hay que preguntarse, para qué?

[2016-07-28 14:40] #6 closed

[2016-07-29 15:05] sohjiro commented on #8
¡Yo también me apunto!

[2016-08-02 00:14] arellano-gustavo opened #14 "Alta disponibilidad de microservicios REST con Docker"
Durante esta plática crearemos una imagen Docker vía "Dockerfile".
Mostraremos cómo modificarlo y hacer commit de los cambios, generando de esta forma una nueva imagen.
Mostraremos cómo guardarlo en DockerHub.
Usaremos la imagen creada para levantar cuatro instancias de un microservicio (java-spring-springboot previamente creado) en cuatro distintos puertos de un mismo host.
Configuraremos HAProxy

[2016-08-16 17:23] laliux commented on #14
Hola @arellano-gustavo

Puedes dar esta charla en este mes ? la fecha del meetup es el 29 de Agosto.

Saludos

[2016-08-16 18:02] SergioMartinezP commented on #3
La idea será comentar como Docker Engine formó parte del http://repositorionacionalcti.mx

- ¿Qué es Docker?
- Características del porqué usar Docker
- Detalles a considerar al agregar un JVM a Docker
- Agregando Payara Micro y JavaEE 7
- HAProxy al frente de todos (SSL terminator)
- Siguientes pasos
- Preguntas

[2016-08-16 18:10] SergioMartinezP opened #15 "Project Valhalla"
Platicar algo de lo que Brian Goetz y su equipo están trabajando para Java 10:
- Value Types (Value Objects JEP 169)
- Generic Specialization (Generics over Primitive Types JEP 218)

De que se trata, en que estado va la propuesta y en que nos beneficiaría

[2016-08-16 18:32] GloriaPG commented on #3
Estaría muy padre! Yo voto por que sí.

[2016-08-16 21:37] arellano-gustavo commented on #14
Hola Eduardo !!!

Claro que si.
Te gustaría llamarme para ponernos de acuerdo?
O prefieres que te marque?
Mi Cel es 55 16913070

Saludos,
Gustavo

2016-08-16 12:23 GMT-05:00 Eduardo Zarate <notifications@github.com>:

[2016-08-16 22:24] laliux commented on #14
Hola Gustavo,

Ya tus compañeros me pasaron tu correo, te envié un mail hace rato.

Saludos

[2016-08-26 18:21] DjSystemBPM commented on #14
como le hago para votar Gus

[2016-08-26 18:23] arellano-gustavo commented on #14
Te debería salir un icono con símbolo de "like" (mano amarilla) No lo logras ver?

[2016-08-26 18:24] DjSystemBPM commented on #14
No

[2016-09-07 01:26] domix opened #16 "JVM, Microservices & Kubernetes: The machine is no longer important"
La idea de la charla es la de mostrar los beneficios que tiene usar Linux Containers con una plataforma que permita administrarlos para montar aplicaciones que escalen sin que importe tanto el hardware.

[2016-09-16 19:57] chochos opened #17 "Look ma, no JavaScript! Pure Ceylon single-page web application"
Demo de una aplicación web de una sola página usando _ajax_ pero sin escribir JavaScript; puro Ceylon en el server, y puro Ceylon en el navegador.

[2016-09-29 15:11] j49u4r opened #18 "JShell y REPL"
La propuesta es una charla-taller acerca de **JShell**:

- ¿Qué es?
- ¿Cuál es su origen?
- ¿Cuál es su propósito y/o aplicaciones?
- Ejercicios que incluyen Streams desde el JShell

Algo sobre mí: Augusto Alonso (j49u4r), soy un tanto nuevo con Java (3 años). Actualmente trabajo con el lenguaje en el lado de backend y disfruto lo que hago.

No olviden votar por el tema. Saludos!!!

[2016-09-30 18:23] rugi opened #19 "¿Por qué Cassandra?"
Entre toda la oferta NoSQL que existe en el mercado, Apache Cassandra aparece como una de las opciones más robustas ( y quizá también poco conocidas).
El objetivo de la charla es darle respuesta a la pregunta que encabeza esta descripción, platicaremos del protocolo que usa por dentro y de las bondades que ofrece para tener un ambiente HA, daremos por supuesto un breve, muy breve, repaso de la nat

[2016-10-12 15:21] #13 closed

[2016-10-12 15:22] #3 closed

[2016-10-12 15:27] #14 closed

[2016-10-12 16:07] laliux commented on #7
Hola que tal,..

Oye, tenemos agendada la fecha del 26 de octubre para el siguiente meetup.

Te queda ese día ? podrías dar tu charla para esa fecha?

Saludos

[2016-10-12 18:28] laliux commented on #18
Hola j49u4r,

Cuánto tiempo tienes pensado que te puede llevar este taller ?

Saludos

[2016-10-12 18:29] j49u4r commented on #18
Hola,

Considero que entre 1 hora y 1:15.

Saludos!

On Oct 12, 2016 1:28 PM, "Eduardo Zarate" <notifications@github.com> wrote:

[2016-10-12 18:31] laliux commented on #18
Súper,

Podrías el lunes 24 o el miércoles 26 de este mes ? En el horario habitual, de 7:30 a 9:30..

[2016-10-12 18:34] j49u4r commented on #18
Cualquiera de estas dos fechas me parecen bien. Tú organízate y me avisas.

👍

On Oct 12, 2016 1:31 PM, "Eduardo Zarate" <notifications@github.com> wrote:

[2016-10-12 18:36] laliux commented on #18
Perfecto. Te aviso.

[2016-10-12 18:36] j49u4r commented on #18
Sí, claro. Quedo al pendiente.

Gracias!

On Wed, Oct 12, 2016 at 1:36 PM, Eduardo Zarate <notifications@github.com>
wrote:

[2016-10-12 22:29] arellano-gustavo commented on #18
Ojala pueda ser el Lunes.

[2016-10-12 22:56] chuucks opened #20 "Creación de servicios RESTful con Jersey"
# Creación de servicios RESTful con Jersey
## Extendiendo las capacidades de JAX-RS con Jersey
### Justificación

En la actualidad la creación de Servicios RESTful es muy útil para el consumo desde clientes web, móvil, de escritorio o Stand Alone. Con la API nativa de Java EE: JAX-RS podemos lograrlo. Pero, cómo hacemos para hacer más flexible y eficiente este proceso? La solución es el framework

[2016-10-12 23:03] laliux commented on #20
Se ve bastante interesante, ojalá ganes los suficientes votos para el meetup de Noviembre. El de octubre ya está cubierto :)

Saludos

[2016-10-12 23:05] laliux commented on #19
@rugi habrá chance de mover charla -> taller de 3 o 4 horas ?

Así lo podemos abrir en sábado como en ocasiones anteriores.

Saludos

[2016-10-12 23:24] rugi commented on #20
Se ve de alto poder!
Quizá si le agregas: _como documentar_, puedas _amarrar_ el contenido y mostrar el ciclo completo.
Felicitaciones.

[2016-10-12 23:25] rugi commented on #19
Pues, tendría que generar el material... pero , sin problema.
Sólo tendríamos que ver fechas, pero, eso ya es por otros canales ;)

[2016-10-13 14:59] laliux commented on #18
Confirmado, será el lunes 24.

En un momento publico el evento.

Saludos.

PD. No faltes @arellano-gustavo , con toda tu banda!

[2016-10-13 15:07] laliux commented on #18
@j49u4r  tienes cuenta de twitter ? me la pasas porfa...

[2016-10-13 16:28] j49u4r commented on #18
@augustojimenez1

[2016-10-13 16:57] dev2me commented on #20
Genial :)

[2016-10-13 16:59] EmmanuelRoman commented on #20
Suena bastante interesante y en lo personal aún no he podido trabajar o conocer más a profundidad los servicios RESTFUL.

[2016-10-25 01:42] neodevelop opened #21 "Workshop: Database refactoring"
Este workshop pretende mostrar como puedes versionar y modificar tu base de datos de forma controlada, así como, conservar la integridad de los datos.

Breve agenda:
- ¿Qué es el refactor de BD?
- Primer esquema
- Modificando y creando tablas
- Partiendo relaciones
- Creando llaves
- Transportando datos
- Tags y rollbacks

La tecnología a usar sería Liquibase y pos ya...

[2016-10-25 15:19] #2 closed

[2016-10-25 15:19] #18 closed

[2016-10-25 19:00] j49u4r commented on #18
Eduardo voy en camino, algo de tráfico(mucho), llego 25min, disculpa

On Oct 13, 2016 12:24 PM, "Domingo Suarez Torres" <notifications@github.com>
wrote:

Assigned #18 <https://github.com/javamexico/propuestas-meetup/issues/18> to
@j49u4r <https://github.com/j49u4r>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/javamexico

[2016-11-03 21:42] domix opened #22 "Arquitecturas de despliegue: #microservices #serverless"
La idea es que @chochos @rugi @domix @SergioMartinezP  discutan sobre estas arquitecturas y reciban preguntas de los asistentes

1. Que diversas opciones existen para deployment
  * Clásicas de #godinezjvm (AppServer mamalón tipo WebSphere, Weblogic, etc)
  * millenials #microservicios #serverless
  * contenedores (Docker, rkt, rancher, kubernetes, mesos, etc)
  * Cloud (Amazon, Google, Heroku)
2.

[2016-11-03 21:44] chochos commented on #22
Yo me apunto

[2016-11-03 21:44] domix commented on #22
# Mesa de discusión o debate

La idea es que @chochos @rugi @domix discutan sobre estas arquitecturas y reciban preguntas de los asistentes

[2016-11-03 21:45] rugi commented on #22
Va.

[2016-11-03 21:55] SergioMartinezP commented on #22
Suena bien!

[2016-11-03 22:00] rugi commented on #22
Microservicio y serverless son 2 de los términos que más han dominado este año.
Una estrategia de implantación no es sencilla e implica ciertos riesgos que no siempre vemos.
Puede ser una charla muy enriquecedora para todos, tanto para los que ya los están usando, para los que están iniciando, para los que aun no se deciden e incluso para los detractores.

Será que ya existen las <balas de plata>?

[2016-11-03 22:15] laliux commented on #20
Hola @chuucks

Tenemos agendado el meetup de noviembre para el día miércoles 23.

¿Puedes?

Saludos

[2016-11-03 22:22] laliux commented on #7
Hola @blzb

Ya tenemos fecha para el meetup de noviembre. Sería el miércoles 23, puedes en esa fecha? Te anotamos?

Saludos

[2016-11-03 22:35] isccarrasco commented on #22
Wow... por lo que veo soy del team #godinezjvm (usando actualmente Wildfly) ... aunque he intentado algo con Docker... a ver para que fecha queda el evento ;)

[2016-11-03 22:35] domix commented on #22
No te veo votando @isccarrasco

[2016-11-03 22:55] CypraxPuch commented on #22
Ser punta de lanza en cualquier tecnología implica grandes retos, como el de ser el primero que se enfrenta a las fallas, errores, excepciones, etc. y tener que lidiar con estas!!!
Tenemos la opción de ser punta de lanza o seguir con paradigmas bien probados (léase viejos).

[2016-11-03 22:57] blzb commented on #7
@laliux Hola, tengo ocupadas todas las tardes de lunes y miercoles lo que queda del año. Martes, jueves o viernes estoy disponible.

[2016-11-03 23:17] rugi commented on #22
@CypraxPuch por supuesto, y es genial llegar a buen puerto después de pasar por todo eso :)
A quien no le gusta se héroe!

El tema justamente es platicar sobre el "ELSE" de ese IF.
Quizá no sea tan buena idea ser punta de lanza cuando lo que quieres mover es el core de tu negocio o, no tienes a la gente lista/preparada.
Lo viejo no es malo, si logra pasar la estafeta a lo nuevo de una manera corre

[2016-11-03 23:23] chuucks commented on #20
Claro @laliux :)
Por favor déjenme saber cualquier cosa adicional que requieran de mi parte.
Saludos!

[2016-11-03 23:23] CypraxPuch commented on #22
buen tema @rugi!!
no pienso perdérmelo!!!
Saludos!!

[2016-11-03 23:26] laliux commented on #7
@blzb Sale, que bueno que nos dices. Podría ser el jueves 24, deja ver que onda con el otro speaker.. te aviso.

Saludos

[2016-11-03 23:27] rugi commented on #22
Nos vemos!!
Ahora nomas que quede la fecha 😄

[2016-11-04 00:25] blzb commented on #22
y si corro weblogic en docker en que categoria entra? http://www.oracle.com/us/products/middleware/cloud-app-foundation/weblogic/weblogic-server-on-docker-wp-2742665.pdf

[2016-11-04 00:27] domix commented on #22
Entra en #HipsterGodinezDeLaJVM @blzb
![image](https://cloud.githubusercontent.com/assets/21805/19990426/30a9bd72-a1f3-11e6-990e-099d208d3454.png)

[2016-11-04 00:28] jsramos commented on #22
Me ganaron con el "mamalón"! Jajaja! Una constelación al frente!

[2016-11-04 00:41] CypraxPuch commented on #22
@domix yo diría que @blzb entra mas en la categoría de #chavorukoJVM!! xD

[2016-11-04 00:45] blzb commented on #22
Cabe aclarar que no es mi caso @CypraxPuch, solo preguntaba en que categoria entraba ese caso.

[2016-11-04 01:32] CypraxPuch commented on #22
Nada personal mr.

[2016-11-04 02:08] code-bomb commented on #22
@domix excelente propuesta!!!  use OAS, ahora WL11g  y próximamente WL12c  #godinezjvm

[2016-11-04 03:59] rugi commented on #22
@blzb curiosamente, a pesar de ese _soporte_ oficial a docker, WL quiere manejar a su manera el aislamiento de procesos con lo nuevo de la versión 12:
Multitenant.

Desde su trinchera, cada sector busca como cumplir con lo mismo.
Yo veo 3 puntos principales:

- Aislamiento de procesos
- Optimización de recursos
- Facilitar la administración de lo que esos dos puntos anteriores generan.

Entre otra

[2016-11-08 19:19] malcantara opened #23 "Términos y "modas" en el desarrollo de aplicaciones con la JVM"
La finalidad de éste issue es invitar a la comunidad a participar en charla/debate/panel dónde se den a conocer y se analicen términos y "modas" utilizados hoy en día como lo son "microservicios", "serverless", "containerization", "Paas", "Fass", "Saas", y su relación con el desarrollo de aplicaciones dentro del ecosistema de la JVM.

Esta invitación esta abierta a todo aquel que quiera participar

[2016-11-23 01:59] arcioneo commented on #22
Para cuando es esta?
Soy nuevo y no veo fechas, gracias de antemano.

[2016-11-23 15:56] isccarrasco commented on #22
@arcioneo aún no se ha definido la fecha, hay algunas otras charlas en cola según he entendido

[2016-11-23 18:00] laliux commented on #22
Hola a todos,

No se ha definido la fecha, esperamos que pueda realizarse en este Diciembre para cerrar con tocho un gran año.

Saludos

[2016-11-24 15:40] #17 closed

[2016-11-24 15:40] #20 closed

[2016-12-15 15:42] arellano-gustavo commented on #22
Se ve bueno. Cuando sera?

[2016-12-15 15:52] laliux commented on #22
Hola a todos, no tenemos fecha definida, pero seguro en este Diciembre ya no fue. Queremos que se haga en Enero, esperemos que así sea.

Saludos

[2016-12-20 20:57] chuucks commented on #9
Suena bastante útil, ojalá se concrete! 👌

[2016-12-20 20:58] chuucks commented on #12
Suena muy interesante...!

[2016-12-20 20:59] chuucks commented on #7
Suena buena, pero falta explicar... 🤔

[2016-12-20 21:00] chuucks commented on #21
Suena potencial, ojalá se concrete... 🚶

[2017-01-31 15:45] chochos commented on #22
Bueno esto fue ayer así que lo cerramos, pero esperamos feedback aquí mismo.

[2017-01-31 15:45] #22 closed

[2017-01-31 17:03] rugi commented on #19
La charla se convirtió en taller 👍

[2017-01-31 17:03] #19 closed

[2017-01-31 18:50] rugi opened #24 "Fundamentos de JMX"
Duración: 30 minutos.
Una rápida introducción a los conceptos de JMX.

Charla que bien podría ser la intro de la de @SergioMartinezP

https://github.com/javamexico/propuestas-meetup/issues/12

[2017-02-15 23:56] #7 closed

[2017-02-17 16:42] chochos opened #25 "Comunicación entre distintos procesos y plataformas con Protocol Buffers"
Protocol Buffers es una herramienta open source creada por Google, que sirve para definir mensajes con tipado estático, que se pueden codificar en binario. Está pensado para comunicación entre distintos procesos y distintas plataformas.

En esta charla daré una breve introducción a protobuf 3.0, sus características principales y un ejemplo de su uso, con un servicio en Java que permita comunicació

[2017-02-17 23:10] rugi opened #26 "MicroProfile"
La intención de la charla es hacer un repaso por todo lo que tuvo que pasar para llegar a esto. 😄
Este estándar recién creado promete llevar el desarrollo de servicios para la web a el nivel que la situación actual requiere.

Todo debe ser ágil, todo debe ser reemplazable, todo debe ser _contenerizable_.
¿Cómo llegamos aquí? y sobre todo ¿Cómo empezamos a utilizar esto?
Lo platicaremos juntos.

--

[2017-02-28 05:32] mxd4n13l0n commented on #12
Estaría genial para darle continuidad al #11

[2017-03-01 19:41] blzb opened #27 "Metabase 101"
Quick overview of Metabase. An opensource data analytics tool written in Clojure and comparisons with other tools in the java enviroment.

[2017-03-01 20:36] #11 closed

[2017-03-28 03:19] #25 closed

[2017-03-29 04:00] rugi commented on #24
Aquí pueden encontrar la presentación y más material sobre JMX.

[2017-03-29 04:06] #24 closed

[2017-04-03 21:57] chochos commented on #25
Video de la charla: https://codigoambar.wistia.com/medias/vih38myass

Slides: https://www.slideshare.net/chochosmx/introduccin-a-protocol-buffers

[2017-04-03 23:38] degyves opened #28 "Aplicaciones Java empresarial con bases de datos semánticas o web 3.0"
Haremos una demo de una aplicación Java EE 7 usando Jena como triplestore. Si alcanza el tiempo y el esfuerzo, cómo coenctarla a HBase.

[2017-04-04 04:23] rugi commented on #24
Aquí el video:
https://www.youtube.com/watch?v=xgM3FNQMmj0&t=3s

[2017-04-04 15:38] Ikana opened #29 "Flow: tipado estatico en javascript"
Javascript es la lingua franca de la web y hay ocasiones que por requerimientos o por capricho del cliente hay que usarlo, la queja mas fuerte que escucho al platicar con los miembros de la comunidad de java, es que, javascript es un lenguaje con un tipado débil, que solo falla en tiempo de ejecución y una gran parte de la comunidad de javascript que nos dedicamos full time a JS estamos de acuerdo

[2017-04-20 02:48] rulestrada opened #30 "Stream me up, Kafka"
Streaming con Apache Kafka, única fecha: Jueves 27 de Abril, 2017

[2017-04-20 15:38] laliux commented on #30
@rulestrada listo mi estimado, confirmada tu presentación para ese día.

Saludos

[2017-06-06 21:48] #30 closed, assigned to nobody

[2017-06-06 21:49] #28 closed, assigned to nobody

[2017-06-09 22:48] emartinezr opened #31 "Microservicios con Java sobre AWS"
Desarrollo de microservicios con lenguaje de programación Java realizando el
despliegue sobre la nube de AWS en un ambiente serverless

[2017-07-06 16:36] #12 closed

[2017-07-06 16:36] #31 closed, assigned to nobody

[2017-07-06 23:32] loydiux opened #32 "Linked data"

[2017-07-12 04:17] loydiux commented on #32
1.-Introducción a Linked data, ¿Qué es la nueva semántica web o linked data?
2.-Pequeños ejemplos y aplicaciones de linked data
3.- Apache Jena y bases de datos de graphos (janusgraph)

[2017-08-01 03:20] raphaelDL opened #33 "RESTful Web Service con Reactive Spring"
Charla en que hablaremos de aplicaciones asincronas no-bloqueantes con Spring 5 (que implementa reactive-streams).
El enfoque reactive permite optimizar el uso de los recursos y facilita que las aplicaciones escalen verticalmente.
Mostraremos de ejemplo un servicio REST utilizando Spring Framework 5, Boot 2.0 y Data MongoDB 2.0

[2017-08-01 18:25] CalebRizo opened #34 "Spring REST Docs: Hey, las pruebas y la documentación trabajando juntas!"
La idea de la charla es mostrar como utilizando Spring REST Docs se puede mantener una Api REST bien definida y la documentación actualizada por medio de las pruebas.

[2017-08-02 00:55] #16 closed

[2017-08-02 00:56] #32 closed, assigned to nobody

[2017-08-08 21:52] loydiux commented on #29
Aquí una botella!

[2017-08-16 13:36] fmadrigal00 commented on #34
suena interesante

[2017-08-19 13:07] hiphoox opened #35 "Modelo de Actores en Java: Akka"

[2017-08-21 16:36] laliux commented on #33
Hola @raphaelDL

Pásame por fa' tus datos de contacto: eduardo AT bbfour DOT com.

Saludos

[2017-08-24 15:37] dominoFire opened #36 "Apache Beam: Aventuras en la consistencia eventual"
En esta plática mostraremos las experiencias con Apache Beam / Google Cloud Dataflow, el marco de trabajo para unificar tareas de procesamiento en batch y en streaming. También, mostraremos un ejemplo de cómo se podría ocupar Apache Beam / Google Cloud Dataflow para un simple pipeline de ETL. Finalmente, discutiremos por qué es muy importante tomar las semánticas de consistencia a la hora de diseñ

[2017-08-29 02:18] domix opened #37 "Más allá de REST con gRPC"
La idea de la charla es mostrar las bondades de usar gRPC en favor de REST

[2017-09-05 16:54] #29 closed, assigned to nobody

[2017-09-05 16:54] #33 closed, assigned to nobody

[2017-10-27 16:42] aalmiray opened #38 "Realizando pruebas con Spock"
http://spockframework.org/
1. Spock basics
 - blocks
   - given:
   - when:
   - then:
   - and:
   - cleanup:
 - power assert
2. Parameterization
 - the where: block
   - variables
   - data tables
   - iterables
 - customizing the method name
 - shared values
3. Mocking
 - Stub, Mock, and Spy
 - defining expectations
 - verifying expectations
4. Extensions
 - @IgnoreIf
 - @Stepwise
 - Spring int

[2017-10-31 17:26] uurl opened #39 "Propuesta"

[2017-10-31 17:34] Ikana commented on #37
Solo para comunicacíon entre microservicios? o crees que tambien se peude aplicar para comunicacíon con el cliente?

[2017-11-01 16:22] domix commented on #37
Si con el cliente te refieres a JS en el browser, voy a mostrar el gateway REST para lograr eso.

[2017-11-13 22:26] chochos opened #40 "Cómo evitar que un proyecto de 13 años se vuelva legacy"
El proyecto donde más tiempo he trabajado, tiene ya 13 años. Comenzó en Java 1.4 y actualmente se está actualizando a Java 8. Ha pasado por varias versiones de varios frameworks, varias reestructuraciones, muchos cambios, para evitar que se vuelva algo _legacy_.

La idea de esta charla es contar a manera de anécdota, los cambios que se han hecho a este proyecto para poder mantenerlo actualizado du

[2017-11-16 05:13] crusillo2003 commented on #37
Me gustaria escuchar esta charla. Saludos!!

[2017-11-28 18:24] #37 closed, assigned to domix

[2018-01-02 16:58] chuucks opened #41 "Project Lombok"
# Reduce el código repetitivo y aumenta las capacidades de tus POJOs con anotaciones simples

## Justificación
El código repetitivo en nuestros POJOs sule ser cansado de generar y en la mayoría de las veces delegamos esta tarea al editor de nuestro IDE. La desventaja es que generamos clases difíciles de leer y mantener.

Con las anotaciones de Project Lombok, podemos crear POJOs más elegantes y fá

[2018-01-15 19:44] rvazquezglez commented on #35
Hace un tiempo hice un par de presentaciones, por si te sirven:
* https://docs.google.com/presentation/d/1kCrlDn_LZE3f0VXQOIWE1Y7h9HD3YLjwDOPMGF47sJc/edit?usp=sharing
* https://docs.google.com/presentation/d/1HEN-pohcmpkGuxkh6XtScxmFWVzyhgofJOk1YQy6Rv8/edit?usp=sharing

[2018-01-25 08:44] #39 closed, assigned to uurl

[2018-02-09 17:47] domix opened #42 "[Clash of boots] Demostrar como haces en la vida real servicios HTTP RPC (REST que le dicen)"
La idea es que varias personas, demuestren en 15 (chance 20) minutos máximo, como usan `Spring Boot` para hacer aplicaciones que exponen servicios HTTP RPC (aka `REST`).

Cada expositor debería poder mostrar:

1. Configuración de la herramienta de construcción, mencionar los plugins que usan y para que.
2. Modularización (si aplica)
3. Persistencia (SQL y/o NoSQL)
4. Contratos de API
5. Pruebas
6.

[2018-02-09 19:42] chuucks commented on #42
Hola @domix cuenten conmigo si requieren de una opinión sobre el uso de Spring Boot para creación de servicios Rest en un ambiente corporativo (corriendo sobre Red Hat o Windows Server) cc @chochos @domix Saludos! :)

[2018-02-09 19:57] josechval commented on #42
Lo hago con Flask en 10. :D

[2018-02-11 12:54] hguerrero commented on #42
Cuenten conmigo, podemos mostrar como trabajar con SB, Apache Camel y Kubernetes (Red Hat Flavored)

[2018-02-11 19:17] #34 closed, assigned to nobody

[2018-02-14 17:51] pedrooshika-nomad commented on #42
si tienen un poco de paciencia con un brasileño hablando español mal (o si puedo hablar en inglés) puedo presentar detalles de la plataforma en que trabajo (iFood, el player brasileño de food delivery, líder en américa latina, y que está detrás de SinDelantal.mx)

hoy tenemos una plataforma con ~70 (micro) servicios (casi todos en java / spring- *)

[2018-02-14 18:15] domix commented on #42
claro que si @poshika, el requisito es que el api este escrito en `Spring Boot`

[2018-02-14 18:31] pedrooshika-nomad commented on #42
ah sí, claro, por `spring- *` quiero decir spring-boot, web, mvc, data, security, etc! :)

[2018-02-22 22:55] SergioMartinezP opened #43 "Actualización del OWASP Top 10"
cada 3~4 años se actualiza la lista de los 10 principales riesgos en aplicaciones web por lo que sería conveniente dar un repaso a la versión del 2017

[2018-02-23 00:35] #15 closed

[2018-03-02 16:47] domix commented on #35
Disfrute mucho la charla, aunque hubiera sido interesante ver mas sobre el modelo de actores, saber la experiencia sobre Akka es valioso sin duda.

[2018-03-05 20:10] #35 closed, assigned to nobody

[2018-03-16 22:19] #38 closed, assigned to nobody

[2018-03-16 22:27] laliux commented on #36
Hola @dominoFire

Aún está en pie lo de tu charla ? Podrías el lunes 26 de Marzo ?

Saludos

[2018-03-27 19:29] edgarh2e commented on #42
Cuenten conmigo para compartir mi experiencia con `Spring Boot`, `Swagger `, `Jersey` sobre `AWS Elastic Beanstalk`.

[2018-03-27 19:36] rugi commented on #26
Realizado en el meetup de marzo del 2018

[2018-03-27 19:36] #26 closed

[2018-04-18 15:44] laliux commented on #42
Hola @chuucks @hguerrero @poshika @edgarh2e @domix

Cómo andan el lunes 30 de abril ? Tienen chance de asistir y participar en el meetup de ese día?

Saludos

[2018-04-18 17:10] domix commented on #42
yo sin problema @laliux

[2018-04-19 02:33] edgarh2e commented on #42
@laliux cuenten conmigo.

[2018-04-19 17:15] hguerrero commented on #42
me parece bien! cuenten conmigo.

[2018-04-19 17:26] laliux commented on #42
Perfecto @domix @edgarh2e @hguerrero ,

Pues con ustedes 3 ya la hicimos, publico el evento de una vez.

@chuucks @poshika siguen invitados, sólo confirmen si van.

Saludos

[2018-04-20 20:30] chuucks commented on #42
Hola @laliux justo el 30 de Abril ando por Cd Mx, sería increíble poder compartir con ustedes ese día ;)
Solo les pediría confirmar qué específicamente (dentro del tema de microservicios) abarcaremos.

Saludos desde Guadalajara! :)

[2018-04-20 20:43] chuucks commented on #42
Update: ya vi los temas que se van a tocar en el evento de meetup.com, cuenten conmigo.

[2018-04-20 20:51] laliux commented on #42
@chuucks genial! acá te esperamos..

[2018-04-21 22:53] domix opened #44 "GraalVM: Porque puede existir una VM poliglota, incrustable y eficiente"
La idea de la charla es introducir mediante ejemplos prácticos las 3 características de `GraalVM`

* Poliglota: Ejecutar múltiples lenguajes (No solo aquellos que generan `byte code` para la `JVM`)
* Incrustable: Mostrar como se puede usar `GraalVM` de forma incrustada.
* Eficiente: Ver los tiempos de ejecución pueden optimizarse en producción considerablemente.

[2018-04-23 04:59] rugi opened #45 "Prometheus y Java. Lo que hay que saber."
Poco a poco Prometheus se está convirtiendo en la herramienta de facto para el monitoreo de procesos, de la mano de la CNCF y aún siendo un proyecto en su incubadora es ya referente para monitorear casi cualquier proceso.

La idea es primeramente conocer qué tiene de especial prometheus y a partir de ahí movernos al mundo java.
Saber que opciones tenemos para usar prometheus en nuestros desarrollo

[2018-04-29 22:08] pedrooshika-nomad commented on #42
perdon @laliux , estaba de vaccaciones y volvi hoy.
y no voy a poder participar mañana, no estoy en Mexico! :(

[2018-05-14 17:12] #42 closed, assigned to chochos, domix

[2018-05-28 21:25] #41 closed, assigned to nobody

[2018-05-29 04:49] rugi commented on #40
Realizada en el meetup de Mayo del 2018
https://www.meetup.com/jvm-mx/events/250882991/
Se grabó la sesión en la página de Facebook de javaMéxico.

[2018-05-29 04:49] #40 closed, assigned to chochos

[2018-05-29 04:49] rugi commented on #43
Realizada en el meetup de Mayo del 2018
https://www.meetup.com/jvm-mx/events/250882991/
Se grabó la sesión en la página de Facebook de javaMéxico.

[2018-05-29 04:49] #43 closed, assigned to nobody

[2018-05-29 16:41] chochos commented on #41
Por qué cerraron esta propuesta?

[2018-05-29 16:42] chochos commented on #10
Ya se volvió obsoleta esta charla

[2018-05-29 16:48] laliux commented on #41
Pues la cerró el mismo @chuucks  :/

[2018-06-19 23:51] lgbaeza opened #46 "Lightning talk: Un gran poder de código, conlleva una gran JVM"
A través de esta Lightning talk quisiera compartirles algo de lo que más me aqueja: terminar mi código y tener que desplegarlo en una aplicación. Porque seamos honestos, a todos nos gusta programar, ese bonito arte de poder materializar algo creado apenas unos momentos antes en nuestra cabeza; Pero cuando hay que utilizar gestores de versiones, trabajar con CD/CI, o inclusive publicar en sitios ex

[2018-07-04 16:45] mrduckieduck commented on #36
¿Qué paso con esta platica?

[2018-07-04 16:50] mrduckieduck commented on #9
¿Qué paso con esta platica?

[2018-07-06 16:25] laliux commented on #9
Pues nada, que el buen @josdem anda en USA. De hecho voy cerrando este issue.

[2018-07-06 17:26] josdem commented on #9
Hola Daniel y Eduardo, gusto en saludarlos. Estoy de acuerdo con cerrar el
issue.
Acá les dejo material por si quieren explorar la información que daría en
la charla, ahí viene explicación y código ejemplo:

   - http://josdem.io/techtalk/spring/spring_swagger_boot_configuration/
   - http://josdem.io/techtalk/spring/spring_swagger_java_configuration/
   - http://josdem.io/techtalk/spring/spring_s

[2018-07-07 05:09] mrduckieduck commented on #9
Pues yo podría dar el tema, junto con algo de Spring REST Doc, es un tema básico y sencillo:)

[2018-07-18 15:17] j49u4r opened #47 "Ya es momento de migrar a Java 8 o 9 o 10 u 11 :O !!!"
La charla se trata de instar a la comunidad a usar ya, las características de Java 8; además de comentar las bondades que Java 9 y Java 10 ofrecen. Por último, informar acerca de las características de Java 11, la nueva "cadencia" de liberaciones de Oracle en cuanto al JDK se refiere, así como la política de soporte LTS.

- Intro a características de Java 8, 9 y 10
- Refactorización de código con

[2018-07-18 23:53] rugi commented on #47
Muy buena propuesta!
Duda....
¿Adicional al formato de charla, ves viable tener una versión extendida para ser expuesta como taller?
Que bueno que te animaste!

[2018-07-18 23:58] j49u4r commented on #47
Hola. Sí, veo viable esa posibilidad.

Saludos!

On Wed, Jul 18, 2018, 6:53 PM Isaac Ruiz Guerra <notifications@github.com>
wrote:

[2018-07-31 15:16] rugi commented on #45
La charla se realizó en el meetup del 30 de Julio del 2018.
Se inaugura el formulario de retroalimentación.

[2018-07-31 16:28] abadongutierrez opened #48 "Slack Bots con Java"
Una charla para ver como desarrollar Slack Bots usando Java, Spring Boot y el API de Slack.

[2018-07-31 16:53] chochos opened #49 "Midiendo todas las cosas en Java"
Continuando con el tema de monitoreo, hay varias bibliotecas de monitoreo que se pueden utilizar en Java, como dropwizard metrics y micrometer, que son independientes del sistema externo de monitoreo que se utilice.

En esta charla se muestra el uso de algunas de estas bibliotecas, junto con algunos sistemas externos para recabar las métricas y poder hacer algunas visualizaciones.

[2018-07-31 17:41] #45 closed, assigned to rugi

[2018-08-20 15:54] laliux commented on #46
Hola @lgbaeza

Tienes chance de dar esta plática el próximo lunes 27 de agosto?

Saludos

[2018-08-20 18:33] lgbaeza commented on #46
Hola @laliux  Si, con gusto.

[2018-08-20 19:33] laliux commented on #46
Genial @lgbaeza  ,

Bueno, te agendamos. Me puedes pasar tus datos de contacto por correo? e.zarate.m AT gmail DOT com

Gracias

[2018-08-21 22:36] domix opened #50 "Micronaut: El nuevo chico en el barrio"
La idea de la charla es hablar sobre las caracteristicas de Micronaut y como se pueden sacar ventaja para desarrollar Microservicios y serveless

[2018-09-26 16:50] chochos opened #51 "Tour de Java 11"
Una charla para mostrar las características principales de Java 11, orientada especialmente a la gente que no ha dado el brinco a versiones más recientes y siguen en Java 8.

[2018-09-28 15:19] rvazquezglez commented on #51
Creo que es un duplicado de #47

[2018-09-28 16:15] chochos commented on #51
Duplicado de #47

[2018-09-28 16:15] #51 closed, assigned to nobody

[2018-10-18 03:30] mrduckieduck commented on #50
Aún está disponible el tema ?

[2018-10-19 18:25] laliux commented on #47
Hola @j49u4r

Tienes chance de dar esta charla para el meetup de este mes ? .. lunes 29.

o.O

[2018-10-24 23:24] abadongutierrez opened #52 "From Threads to CompletableFutures"
Un recorrido de las herramientas de Java para programar concurrente/parallelo: threads, Executors, Future, CompletableFuture.

[2018-10-24 23:24] abadongutierrez commented on #52
@chochos Esta es una platica, podrias ponerle el label please?

[2018-10-25 05:54] jivel opened #53 "Microservicios - Orquestación VS Coreografía"
¿Alguien está utilizado  [ **Conductor**](https://netflix.github.io/conductor/) para la orquestación de Microservicios?

¿Cuál es la opinion que tienen de  [**Camunda**](https://camunda.com/) para comunicar los Microservicios?

¿Qué herramientas están utilizando para comunicar sus Microservicios?

[2018-11-01 00:12] #47 closed, assigned to nobody

[2018-11-20 18:29] uurl opened #54 "Kafka Streams"
La idea es exponer como se manipulan Data Streams usando Apache Kafka:

- Explicar qué son y cómo se procesan los Streams
- Mostrar un ejemplo sencillo de como producir y procesar un Data Stream
- Introducción a conceptos de Streams: Windowing, Watermarks, Late Events

[2018-11-20 21:14] #46 closed, assigned to lgbaeza

[2019-01-15 19:13] #54 closed, assigned to nobody

[2019-01-15 19:20] #27 closed

[2019-01-15 19:20] laliux commented on #27
@blzb anda en el gabacho.. ni px.

[2019-01-31 20:54] laliux commented on #44
Presentada el lunes 28 de enero de 2019.

[2019-01-31 20:54] #44 closed, assigned to domix

[2019-02-07 22:23] chuucks opened #55 "Reactive API con Spring Webflux"
## Resumen
Crear servicios REST de forma reactiva con Spring Webflux.

## Agenda
- Contexto e introducción
- Bloqueante, Asincrono y Reactivo
- Rx Java, Reactive Streams, Project Reactor
- Webflux, Webclient, Mongo Reactive repositories
- Demo (consumir un API público, exponerlo en REST y persistir info en Mongo DB)
- Q&A (interacción con pares)

## Recursos
A continuación un par de recursos que p

[2019-02-11 21:49] softwarechido opened #56 "Amazon Alexa, NLU y desarrollo de apps de Voz con Java"
Hace un par de meses lancé junto con mi equipo de trabajo el Servicio de Alexa en México:

https://developer.amazon.com/blogs/alexa/post/d5614e27-99d2-460b-a295-51f4fde36f89/

Ahora mi trabajo es compartir con el mundo lo que hemos logrado e inspirar a desarrolladores de todo el mundo a crear experiencias de voz extraordinarias con Alexa en Español.

Actualmente la capacidad de computo distribuido

[2019-02-28 20:08] #52 closed, assigned to abadongutierrez

[2019-02-28 20:08] #55 closed, assigned to nobody

[2019-04-25 22:29] aukustomx opened #57 "Quarkus"
Anunciado en la pasada DevNexus, la intención es dar a conocer Quarkus, el framework by Red Hat que promete ser Cloud and Container First (k8s), sus características y ventajas, y cómo podemos aprovecharlo para la implementación de microservicios.

Ojo, aun no hay versión Production-Grade, pero "va que zumba pa' allá".

[2019-04-29 22:30] yobijoss opened #58 "Generando una API con Open API Spec 2.0 y Swagger"
José Ángel García Salinas

Soy backend dev @ Kenzan, mi camino me ha llevado a aprender y compartir sobre el mundo backend. Esta (sería) es mi 4ta charla en Guadalajara.

En esta charla usaremos Java 8, Spring boot y Swagger para generar una API con base en la Open API Specification version 2.0

[2019-04-29 22:35] chuucks commented on #58
Charla para el meetup virtual *

[2019-05-02 04:16] rugi commented on #56
Charla realizada en el meetup del 29 de Abril del 2019.
https://www.meetup.com/jvm-mx/events/260540788/

[2019-05-02 04:16] #56 closed, assigned to nobody

[2019-05-10 01:29] eduvim opened #59 "Revisión del sistema de módulos"
Revisión de usos prácticos del sistema de módulos y sus integraciones con herramientas cómo Maven y Gradle. Revisión teórica + live coding

[2019-05-10 16:21] aukustomx commented on #59
Sistema de módulos Java9+ ?

[2019-05-13 14:52] eduvim commented on #59
Si , ese mero sistema de módulos

[2019-05-21 16:24] jsedano opened #60 "Java Platform Module System (para el meet up virtual)"
### Java Platform Module System

**Justificación**

A partir de Java 9 fue introducida la plataforma de módulos que es un cambio bastante grande y que seguramente sera algo que todos utilizaremos en un futuro no muy lejano.

**Sumario**

En esta pequeña introducción veremos que es el Java Platform Module System, como es que logra seguir siendo compatible con los proyectos ya existentes, crearemos

[2019-06-11 20:39] #50 closed, assigned to domix

[2019-06-11 20:40] laliux commented on #50
Charla del meetup de mayo.

[2019-06-11 20:42] laliux commented on #59
Hola @eduvim

Podrías dar tu charla este mes?.. lunes 24 de junio..

o.O

[2019-06-12 01:03] eduvim commented on #59
Vale , te sería útil que lo mande previo para revisión ?

Si podría estar listo

[2019-06-12 17:47] laliux commented on #59
@eduvim

Genial, pues queda amarrado. Mándame un correo a e.zarate.m en gmail punto com.

Gracias!

[2019-07-08 23:50] uurl opened #61 "Apache Kafka 101"
La gente de Confluent Inc. (los autores de Apache Kafka) nos envían swag (camisetas y stickers), la charla debe ser en Julio 2019.

- Talk Title:    Apache Kafka 101
- Talk Abstract:     Apache Kafka is a commit log for your entire data center and infrastructure. This talk gives a brief introduction to Kafka and talks about producers, consumers, client libraries, Kafka connect and all that Kafka h

[2019-07-08 23:55] #59 closed, assigned to nobody

[2019-07-08 23:56] #49 closed, assigned to chochos

[2019-07-09 00:03] #60 closed, assigned to nobody

[2019-07-10 04:34] rugi commented on #59
Se concretó en la reunión de Junio del 2019
https://www.meetup.com/jvm-mx/events/262400795/

[2019-07-24 22:22] #58 closed, assigned to nobody

[2019-07-24 22:28] domix opened #62 "Armando un backend (escalable) con Kotlin y Google Cloud"
Charla por Toño Guzman

[2019-07-24 23:12] jordandiazdiaz opened #63 "Practicas Seguras de Codificacion en Java - Desafios y Vulnerabilidades"
La plataforma Java y las bibliotecas de terceros proporcionan varias características de seguridad para facilitar la codificación segura. Sin embargo, el mal uso de estas funciones puede costar un tiempo y un esfuerzo tremendos a los desarrolladores o causar vulnerabilidades de seguridad en el software.

La investigación anterior se centró en el uso indebido de la criptografía y las API de SSL, per

[2019-07-31 02:10] breakponchito opened #64 "Tools to monitor JVM"
Houston tenemos un problema!!!!

La memoria se está yendo al límite que debemos hacer, espera déjame llamó al ingeniero java

Llega el ingeniero java: permíteme dejame evaluarlo

Tengo un abanico de herramientas que me pueden apoyar:

- Jconsole
- Visualvm
- JMC
- Etc ….

En el día a día tenemos situaciones inesperadas que debemos evaluar de momento y tenemos que utilizar las herramientas que nos

[2019-07-31 02:25] domix commented on #64
gracias @breakponchito, por favor podrías elaborar más tu propuesta. Es para metup presencial o virtual?

[2019-07-31 04:35] breakponchito commented on #64
Si para el virtual, me intereso que fuera en ese modelo pero también podría
ser presencial sin problema

On Tue, Jul 30, 2019 at 9:25 PM Domingo Suarez Torres <
notifications@github.com> wrote:

[2019-07-31 04:35] breakponchito commented on #64
El día de mañana agrego mas detalle a la presentación que propuse presentar

On Tue, Jul 30, 2019 at 9:25 PM Domingo Suarez Torres <
notifications@github.com> wrote:

[2019-08-01 15:56] chochos opened #65 "Migrando de Spring Boot a Micronaut"
Ya oíste hablar de Micronaut, ya tienes ganas de usarlo, pero no hay proyectos nuevos para probarlo. ¿Puedes migrar un proyecto existente de Spring Boot a Micronaut? ¡Por supuesto! En esta charla les contaré de mi experiencia migrando un servicio de SB a MN:

1. Los preparativos
2. Los cambios principales
3. Los detalles finales
4. Algunas sorpresas en el camino

[2019-08-01 16:04] domix opened #66 "Accediendo a datos de forma eficiente con Micronaut Data"
La idea es presentar el proyecto Micronaut Data y el enfoque que tiene para acceder de forma eficiente a bases de datos relacionales y no relacionales.

Veremos como usar JDBC y JPA/Hibernate

[2019-08-05 19:25] eddumelendez opened #67 "Consumer Driven Contract Testing con Spring Cloud Contract"
Descripción:

En plena era de microservicios, escribir pruebas puede sonar sencillo ya que nos hacemos responsables de solo un dominio. Pero, en el mundo real, las pruebas de los microservicios pueden ser duras. En esta sesión, veremos como CDC Testing nos ayuda a mantener nuestros servicios trabajando juntos. Estaremos explorando el proyecto Spring Cloud Contract.

Acerca de mí:

Eddú Meléndez es

[2019-08-28 18:45] #66 closed, assigned to domix

[2019-08-28 18:45] #65 closed, assigned to chochos

[2019-08-28 18:46] #61 closed, assigned to uurl

[2019-08-28 18:46] #62 closed, assigned to nobody

[2019-08-28 20:23] domix commented on #64
me puedes mandar un email a domingo.suarez@gmail.com @breakponchito por favor?

[2019-10-30 01:23] mrduckieduck opened #68 "Project Loom: Continuations and Fibers"
Project Loom es una iniciativa por parte de la comunidad de OpenJDK para poder introducir una forma ligera de hacer concurrencia con Java. Todo esto por medio de tres conceptos nuevos:

* Fibers
* Delimited Continuations
* Tail-call elimination

La idea de la plática es explicar estos nuevos conceptos, ¿cómo se construyen? y ¿qué es lo que tiene para ofrecer el nuevo modelo de concurrencia ligera?

[2019-10-30 01:55] laliux commented on #57
Se dió la charla en meetup de  Septiembre 2019.

[2019-10-30 01:55] #57 closed, assigned to aukustomx

[2019-11-07 18:46] viccomx opened #69 "Cuál es el estado de tu API?"
Para potenciar el uso de tu API debes conocerlo, de esta forma podrás identificar cuáles son las partes que requieren más trabajo y por consiguiente reducir la fricción con los usuarios finales.

- Identificar el estado actual de tu API y como impacta esto en tu organización
- Conseguir que tu API sea un producto de la empresa que aporte valor en lugar de ser un bloque de código sin estructura.
-

[2020-01-29 18:02] #69 closed, assigned to nobody

[2020-01-29 18:03] #68 closed, assigned to nobody

[2020-02-18 01:48] ipholo opened #70 "Buenas prácticas para simplificar el desarrollo de software"
El objetivo de la plática es dar a conocer todos las practicas que seguimos en nuestro proceso de desarrollo en Java. Desde como imaginamos el código en nuestra cabeza, se escribe, se prueba y es puesto en producción. Se tocarán temas como:

- Guías de estilo

- Entregables

- Peer Reviews

- Testing

Todo esto en ambientes con cambios frecuentes a nivel a global.

[2020-03-02 18:03] kodyakckaly opened #71 "Twelve-Factor App methodology"
Se hablará de las "mejores practicas" diseñadas por Heroku para permitir que las aplicaciones web se creen con portabilidad y resistencia cuando se implementan en la web.

¿Qué pasa si no tomo en cuenta estás estrategias?
El error más común es que obtienes un proyecto el cual depende de diversos recursos, y cuando un desarrollador quiere instalarlo en su ambiente todos esos recursos se pierden o c

[2020-03-04 23:07] Vermorkentech opened #72 "Microservicios dirigidos por eventos con Axon"
La gestión adecuada de la complejidad del desarrollo de software siempre has sido difícil. Domain-Driven Design (DDD), Command Query Responsibility Segregation (CQRS) y Event Sourcing (ES) se han convertido en herramientas poderosos y útiles para el diseño y la arquitectura del software. Con estos conceptos como base, Axon ofrece una manera más fácil de usarlos en la práctica, creando microservici

[2020-04-01 18:54] laliux commented on #64
@breakponchito creo que esto quedó en el tintero,.. aún estás interesado y en la posibilidad de dar la charla?

Saludos

[2020-04-09 00:38] cenobyte321 opened #73 "Desarrollo y pruebas de APIs web con Swagger"
**¿Quién soy?**

Luis Ramírez - Desarrollador de software en Koneksys

**¿De qué voy a hablar?**

Swagger es una colección herramientas bastante popular para documentar APIs y generar stubs de código para servidor y clientes.

En esta plática tocaré los siguientes temas:

- Un poco de historia de Swagger y OpenAPI
- Las herramientas principales que conforman Swagger.
- Las diferentes formas en las

[2020-04-14 17:20] alejandro-du opened #74 "Desarrollo web para desarrolladores backend"
**Abstract:**
Java es una de las opciones más populares para el desarrollo de aplicaciones web. El uso de Java en el _backend_ es simple y directo. Sin embargo, la plataforma web requiere HTML y JavaScript en el _frontend_. Esto exige a los desarrolladores _full stack_ ser políglotas. Pero hay una alternativa: Vaadin–un framework para el desarrollo de interfaces de usuario web usando el lenguaje d

[2020-04-24 00:29] #67 closed, assigned to nobody

[2020-04-30 23:35] mrduckieduck commented on #53
:)

[2020-05-15 22:48] laliux commented on #71
Charla impartida en meetup en línea de Abril 2020.

[2020-05-15 22:48] #71 closed, assigned to nobody

[2020-05-26 16:49] rugi commented on #74
Realizado en el meetup de Mayo 2020.
Virtual, derivado de la situación generada por el Covid-19.
Registro del Meetup
https://www.meetup.com/jvm-mx/events/270736883/

Video en youTube.
https://www.youtube.com/watch?v=26-HfQ4YRAw

[2020-05-26 16:49] #74 closed, assigned to nobody

[2020-07-08 14:59] ElderMael opened #75 "Mecanismos y patrones para acelerar adopción en arquitecturas de microservicios"
## Sobre la charla

A traves de estos ultimos 5 años ayudando varios tipos de empresas a crear plataformas digitales basadas en microservicios he trabajado como ingeniero de plataforma, tooling y productividad ayudando a equipos de desarrolladores a adoptar dichas plataformas.

He identificado varios mecanismos y patrones que ayudan a dichos equipos a adoptar microservicios asi como solventar prob

[2020-08-28 17:00] rodrigoSaladoAnaya opened #76 "Creación de sistemas flexibles con Vert.x"
### Descripción de la propuesta
**Creación del sistema:**
En la reunión, mostraré cómo construir un sistema monolítico en apariencia, pero con propiedades flexibles, esto quiere decir que vamos a tener corriendo un solo proceso de la JVM soportando todo el sistema como usualmente sucede en un monolito, con la ventaja de poder evolucionar el sistema sin tener que matar dicho proceso; que en la JVM

[2020-08-28 17:01] #8 closed

[2020-10-07 05:32] rodrigoSaladoAnaya commented on #76
Ya subí el código de la charla en https://github.com/rodrigoSaladoAnaya/jvmmx_issue_76

Si les intereso la charla puede que les interese este par de artículos que están muy bien explicados:
https://medium.com/@alexey.soshin/understanding-vert-x-event-loop-46373115fb3e
https://medium.com/@alexey.soshin/understanding-vert-x-event-bus-c31759757ce8

También les comparto unos videos que pueden servir c

[2020-10-14 14:49] SergioMartinezP opened #77 "Identificando problemas en tu aplicación"
Di esta platica en JConfMex, y lamentablemente algunos puntos los pasé muy rápido, en un meetup podríamos extendernos un poco más y observar cada problema con dos herramientas, para poder compararlas, y tener preguntas para cada uno de los 4 casos presentados.

Las herramientas a usar son jConsole, VisualVM y Java Mission Control; todas open source y con la posibilidad de utilizarlas en producción

[2020-10-14 15:18] domix commented on #77
super si!

[2020-10-14 15:37] viccomx commented on #77
Me encantaría!

[2021-03-30 18:02] #21 closed

[2021-04-14 20:40] #77 closed, assigned to nobody

[2021-04-14 20:40] #72 closed, assigned to nobody

[2021-05-27 12:02] uurl opened #78 "."

[2021-06-01 07:36] #78 closed, assigned to nobody

[2021-06-18 18:07] emanuelpeg opened #79 "Principios de Programación Funcional en Scala - charla"
Programación Funcional en Scala
funciones y currying
Class case y pattern matching
lazy evaluation
fold
...

[2021-06-30 13:21] benek commented on #76
Link a la charla, impartida el 18 de septiembre de 2020: https://youtu.be/1C4ErnC2G_I

[2021-06-30 13:21] #76 closed, assigned to rodrigoSaladoAnaya

[2021-06-30 13:24] benek commented on #75
Link a la charla, impartida el 26 de octubre de 2020: https://youtu.be/YLq3x-WtaRc

[2021-06-30 13:24] #75 closed, assigned to nobody

[2021-06-30 13:28] benek commented on #73
@cenobyte321, recién impartiste la charla de Smart Contracts en el meetup, pero en el caso de esta, ¿aún está vigente esta propuesta?

[2021-07-02 15:51] domix commented on #23
esto suena a un panel no @benek ?

[2021-07-02 22:41] benek commented on #23
Sí estaría de huevos!

[2021-07-14 22:10] rodrigoSaladoAnaya opened #80 "Introducción práctica a RxJava."
En este meetup vamos a ponernos manos a la obra con RxJava, realizaremos ejercicios con este API, veremos una opción de como usarlo en el día a día de nuestro trabajo con un patrón simple que a mi me ha funcionado bastante bien para organizar mi código y aprovechar todas las ventajas que ofrece esta tecnología.

Será una sesión práctica, estaremos escribiendo bastante código juntos, analizaremos l

[2021-07-19 23:27] domix opened #81 "Vavr en la vida real"
La idea de esta charla es la de continuar la charla que tanto @mrduckieduck como @domix impartieron el año pasada de introducción a Vavr

Ahora la saga continúa para contar como el uso de esta biblioteca puede ayudar en el desarrollo de productos digitales en la vida real.

---

# Descripcion de la charla

Durante el uso de `vavr` en la vida real, hemos aprendido alternativas para manejo de errore

[2021-07-20 00:04] benek commented on #81
Se impartirá para el meetup del 27 de septiembre, 2021.

[2021-07-31 19:58] rodrigoSaladoAnaya commented on #80
Les comparto el código del meet, saludos.

https://github.com/rodrigoSaladoAnaya/jvmmx_issue_80

[2021-07-31 20:10] #80 closed, assigned to rodrigoSaladoAnaya

[2021-09-22 23:54] benek commented on #70
Cerrado debido a que la charla ya no está vigente con el ponente.

[2021-09-22 23:54] #70 closed, assigned to nobody

[2021-09-23 00:00] benek commented on #64
Cerrado por inactividad.

[2021-09-23 00:00] #64 closed, assigned to nobody

[2021-09-29 22:31] benek commented on #81
Impartida en el meetup de septiembre, 2021.

Video: https://www.youtube.com/watch?v=xd-FTaDaSlk

[2021-09-29 22:31] #81 closed, assigned to domix

[2021-10-07 03:44] benek commented on #63
Link al stream: https://www.youtube.com/watch?v=0B3TcW2fJZI&t=516s

[2021-10-07 03:44] #63 closed, assigned to jordandiazdiaz

[2021-10-07 03:55] #48 closed, assigned to abadongutierrez

[2021-10-07 03:55] benek commented on #36
Cerrado por inactividad.

[2021-10-07 03:55] #36 closed, assigned to nobody

[2021-10-07 03:58] benek commented on #73
Cerrado por inactividad.

[2021-10-07 03:58] #73 closed, assigned to nobody

[2021-10-07 04:00] benek commented on #53
@jivel ha pasado buen tiempo, ¿sigue vigente tu propuesta?

[2021-11-10 04:09] iammiguelmx opened #82 "Arquitectura Hexagonal"
El propósito de este issue es invitar a la comunidad a realizar una charla/panel sobre "Arquitectura Hexagonal".

Me gustaría que abarquen los siguientes temas:

¿Ventajas de la "Arquitectura Hexagonal"?
¿Desventajas de la "Arquitectura Hexagonal"?
¿Cómo sería el sleketon de un proyecto con Arquitectura Hexagonal?
Ejemplo real en código.

Esta invitación esta abierta a todo aquel que quiera partic

[2021-11-15 15:20] iammiguelmx opened #83 "Code Review de un proyecto Java"
La finalidad de este issue es invitar a la comunidad a participar en una charla sobre code review de un proyecto(Java) que se determine por la comunidad y que alguien con experiencia gran experiencia en Java, pueda dar feedback, recomedaciones, tips para mejorar el desarrollo.

Esta invitación esta abierta a todo aquel que quiera participar con su conocimiento y experiencia. Se agradece si tienen

[2022-02-17 15:02] rodrigoSaladoAnaya opened #84 "Whatsapp Chatbot con Geb"
En esta charla estaríamos viendo como usar Geb -"Jeb"-, para crear un chatbot usando el servicio web de Whatsapp[WAPP].

La versión web de WAPP es un buen caso de uso porque tiene comportamientos que se han vuelto bastante comunes en la industria, como es: usar modificaciones dinámicas del DOM, usar un "single page application", también tiene comportamientos asíncronos, etc.

Y la idea es mostrar

[2022-04-04 18:20] alejandro-du opened #85 "Programación Reactiva con WebFlux y R2DBC"
Descripción:
La programación reactiva (reactive programming) busca solucionar problemas de escalabilidad en aplicaciones modernas. En especial, el desaprovechamiento de potencia de cómputo (CPU) y el excesivo uso de memoria en thread pools gigantes. El paradigma se basa en hacer llamadas no bloqueantes al realizar I/O. Un sistema reactivo no debe bloquear hilos al hacer llamadas a sistemas externo

[2022-04-05 01:41] rugi commented on #84
Charla impartida en el meetup de Marzo del 2022.
El video puede consultarse aquí:  https://www.youtube.com/watch?v=nH-L5eZMmpg

[2022-04-05 01:44] rugi commented on #79
Se requiere más detalle de la propuesta

[2022-04-26 23:02] #84 closed, assigned to rodrigoSaladoAnaya

[2022-04-26 23:03] benek commented on #79
@emanuelpeg ¿puedes añadir más info de la propuesta de charla pf?

¿Entiendo que la impartirías tú?

[2022-04-26 23:04] benek commented on #53
Cerrado por inactividad.

[2022-04-26 23:04] #53 closed, assigned to jivel

[2022-04-26 23:27] benek commented on #23
Panel realizado el pasado 13 de octubre.

Link en Youtube: https://youtu.be/auzRjBhRU8o

[2022-04-26 23:27] #23 closed

[2022-06-03 11:54] emanuelpeg commented on #79
si, y los temas que podriamos ver son estos : funciones y currying
Class case y pattern matching
lazy evaluation
fold
monadas

[2022-06-04 04:29] benek commented on #79
Gracias @emanuelpeg, ¿puedes enviarme un correo para ponernos de acuerdo? Al correo que tengo en mi perfil.

Gracias.

[2022-06-28 13:53] Feralex2 opened #86 "Desarrollador Java"
Mi nombre es Fernando Valadez, soy Senior Recruitment Specialist en Kairós Digital Solutions S.L. Actualmente contamos con vacantes TI en [http://bit.ly/3bq90Nq](https://t.co/LXBro4iQgs)

[2022-07-16 06:22] rodrigoSaladoAnaya opened #87 "Coding Dojo Virtual"
### Introducción.

Tradicionalmente un coding dojo es un evento en vivo donde un grupo de desarrolladores  comparten sus conocimientos y mejoran sus habilidades programáticas mediante dinámicas, por ejemplo:

1. Se elige un ejercicio como reto a resolver, usualmente son ejercicios sencillos.
2. Todos los participantes se reparten en parejas, de preferencia de forma aleatoria.
3. Se designa un tiem

[2022-10-18 14:55] rugi opened #88 "Java y grafos. Iniciemos con Neo4j."
Las bases de datos orientadas a grafos siguen avanzando de manera discreta en el día a día de las soluciones informáticas.
La intención de esta charla es:

- Recordar la importancia de una bbdd orientada a grafos.
- Ver algunos casos de uso.
- Saber por dónde empezar usando recursos gratuitos ( conoceremos un servicio gratuito de neo4j).
- Como conectarnos usando java (springboot, quarkus,  helido

[2022-10-18 20:04] geezylucas commented on #82
No tengo mucha experiencia con la Arquitectura Hexagonal, pero me gustaría participar. Quizás explicando la relación que tiene con los fundamentos del DDD.

[2022-10-18 20:08] geezylucas opened #89 "Batch Processing con Spring Batch"
### Propuesta

Una breve introducción al Batch Processing (¿Qué es?, Alternativas, ¿Para que lo podemos usar?, etc.) con Spring Batch (Fundamentos de Spring Boot, Componentes Principales de Spring Batch).

[2022-10-19 01:35] abadongutierrez commented on #88
👍

[2022-10-19 01:38] benek commented on #88
@rugi ¿presencial o virtual? 🙂

[2022-10-19 03:25] rugi commented on #88
Inicialmente virtual, si el mes en que se acepte coincide con que esté en la CDMX y en ese mismo mes se tiene planeada una sesión presencial, sería presencial.